<div class="login-container login-background">
  <div class="login-background"></div>
  <div class="login-content">
    <form action="" class="login-form">
      <!-- Username -->
      <div class="e-input-group e-float-icon-left">
        <span class="e-input-group-icon bx bx-user"></span>
        <input class="e-input" type="text" placeholder="Username" />
      </div>
      <!-- Password -->
      <div class="e-input-group e-float-icon-left">
        <span class="e-input-group-icon bx bx-lock-alt"></span>
        <input class="e-input" type="password" placeholder="Password" />
      </div>
      <button ejs-button cssClass="e-primary" type="submit">Đăng nhập</button>
    </form>
  </div>
</div>
